<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/image/simon.jpg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3>{{persona.nombre}} {{persona.apellido}}</h3>
        <h6>Full Stack Developper jr</h6>
        <h6>Information System Analyst Student </h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3> About me</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, id! Eius quidem totam, ut accusamus
                voluptates
                cumque sit cupiditate optio perspiciatis ipsa laboriosam praesentium ad? Nihil earum iusto adipisci
                doloribus.
            </p>
        </span>
    </div>
</div>