<div class="row">
    <h1>Work Experience</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1 </h3> - <h5>(years)</h5>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea soluta pariatur tempore autem
                necessitatibus eveniet unde magni, porro et consequuntur cum natus voluptate odit consequatur dolor odio
                qui earum?
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2 </h3> - <h5>(years)</h5>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea soluta pariatur tempore autem
                necessitatibus eveniet unde magni, porro et consequuntur cum natus voluptate odit consequatur dolor odio
                qui earum?
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3 </h3> - <h5>(years)</h5>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea soluta pariatur tempore autem
                necessitatibus eveniet unde magni, porro et consequuntur cum natus voluptate odit consequatur dolor odio
                qui earum?</p>
        </ul>
    </div>
</div>