<div class="row">
    <h1>Projects</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Calculator</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque cum, sint ipsum at illo dolores eaque
                consequuntur ea architecto nulla nam repellendus! Culpa dolor quo magni ratione explicabo eum ipsam.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/image/calculadora.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>