.card-header {
    text-align: center;

}

.card {
    margin: 50px;   

}

.card-footer {
    background-color: #2c3e50;
}

.card-header {
    background-color: #2c3e50;
}

.h5, h5 {
    font-size: 1.5rem;
    color: aliceblue;
}

.img-experiencia {
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumacion color;
}

img {
    width: 150px;
    height: 150px;
}

td {
    WIDTH:75%;
    HEIGHT:75%;
}
