<div>
    <app-logo-ap></app-logo-ap>
    <app-social></app-social>   
</div>

   
<ul class="nav flex-column mt-3 ">
    <li class="nav-item">        
        <a class="nav-link" routerLink="/about">About </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/skills">Skills </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/education">Education  </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/experience">Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/interests">Interest </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login </a>
    </li>
  </ul>