<!-- <div class=" text-center col-sm-4 col-md-4 col-lg-4"> -->
<div class="row">
    <h1>Hard & Soft Skills</h1>
  <!--   <div class="col-lg-1"></div> -->        
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"        
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/github.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/python.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/ingles.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress         
            [percent]="20" 
            [showUnits]="false"
            [radius]="100"
            [imageSrc]="'../assets/image/trabajoEquipo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"         
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>