<div class="row">
    <h3>Hard & Soft Skills</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">     
        <button type="button" class="btn btn-primary" routerLink="/nuevohardsoftskills" *ngIf="isLogged">
            Nueva habilidad
        </button>
    </div>
    <br>
    <br>
    <div class=" text-center col-sm-4 col-md-4 col-lg-2 " *ngFor="let HardSoftSkills of hss">        
        <circle-progress 
            [percent]="(HardSoftSkills.porcentajeHSS)" 
            [showUnits]="false" 
            [radius]="60" 
            [imageSrc]="(HardSoftSkills.imgHSS)"
            [showImage]="true" 
            [imageHeight]="60" 
            [imageWidth]="60" 
            [outerStrokeWidth]="5" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="1000">
        </circle-progress>
        <h6>{{HardSoftSkills.nombreHSS}}</h6> 
        <div *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/edithardsoftskills/{{HardSoftSkills.id}}">
                <i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger" (click)="delete(HardSoftSkills.id)">
                <i class="bi bi-trash3"></i></button>            
        </div>
    </div>
</div>