.gradient-custom {
     /* fallback for old browsers */
    background: #9bc0e5; 
     /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #d8e4f0, #bdc3c7);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #bfcedd, #bdc3c7);
 
}

.card-body.p-5.text-center {
  background-color: #23313f;

}

p#texto {
  font-size: larger;
}